<div id="custom_footer">
	<div class="custom-ft-content">
		<div class="ft-inner-content">
			<div class="cms-address-bar">
				<a id="footer-home-btn" href="/">Home</a> <img
					id="footer-address-img" alt="CMS.gov"
					src="//assets.cms.gov/resources/cms/images/logo/cms.gov-footer.png">
				<div id="footer-address-text">
					A federal government website managed by the Centers for Medicare
					&amp; Medicaid Services <br> 7500 Security Boulevard,
					Baltimore, MD 21244
				</div>
				<div>

					<a title="Link to Health and Human Services home page"
						href="http://www.hhs.gov/"> <img id="footer-cms-logo"
						alt="Department of Health and Human Services USA"
						src="//assets.cms.gov/resources/cms/images/logo/hhslogo.png">
					</a>
				</div>
			</div>
			<div class="custom-footer-nav">
					<div id="footer_col1">
						<div class="content">
							<h2>CMS &amp; HHS Websites</h2>
							<ul style="list-style: none;">
								<li style="display: inline-block">Hi</li>
								<li style="display: inline-block">|</li>
								<li style="display: inline-block">Hello</li>
							</ul>
						</div>
					</div>

				</div>
		</div>
	</div>
</div>	